@font-face{
    font-family: 'Bold';
    src: url(../fonts/MontserratAlternates-Bold.ttf);
}

@font-face{
    font-family: 'SemiBold';
    src: url(../fonts/MontserratAlternates-SemiBold.ttf);
}

@font-face{
    font-family: 'Regular';
    src: url(../fonts/MontserratAlternates-Regular.ttf);
}

* {
    font-family: 'Manrope-Medium', sans-serif;
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navigation{
    background-color: #666666;
}

.navigation a{
    text-decoration: none;
}

.navigation p{
    font-family: 'SemiBold', sans-serif;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.navigation .container{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.about{
    margin-top: 100px;
}

.about .container{
    display: flex;
    justify-content: space-between;
}

.about .container .slider{
    width: 45%;
    height: 80%;
}

.about .container .text{
    width: 50%;
}

.about .container .text h2{
    font-family: 'Bold', sans-serif;
    font-size: 64px;
    color: #222222;
}

.about .container .text p{
    margin-top: 100px;
    font-family: 'SemiBold', sans-serif;
    color: #222222;
    font-size: 32px;
}

#input1:checked ~ .perecluch .text1, #input2:checked ~ .perecluch .text2{
    display: block;
}

#input1:checked ~ #label1,
#input2:checked ~ #label2{
    color: rgb(255, 255, 255);
    text-decoration-color: rgb(63, 112, 234);
    text-underline-offset: 5px;
    box-shadow: 0 0 4px 15px rgba(34, 34, 34, 0.3);
}

.skills .container .buttons input{
    display: none;
}

.skills .container .buttons .perecluch{
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}

.skills .container .buttons .line{
    width: 300%;
    display: flex;
}

.skills .container .buttons .text{
    color: rgb(0, 0, 0);
    width: calc(100%/3);
    transition: 1s;
}

.skills .container .buttons{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#label1, #label2{
    color: #222222;
    cursor: pointer;
    font-size: 32px;
    font-family: 'Bold', sans-serif;
}

#input1:checked ~ .perecluch .text{
    transition: 1s;
    transform: translateX(0);
}

#input2:checked ~ .perecluch .text{
    transition: 1s;
    transform: translateX(-100%);
}

.skills{
    height: 946px;
    margin-top: 150px;
    background-image: url(../img/fon\ skill.png);
    background-size: cover;
    padding-top: 100px;
}

.skills h2{
    font-size: 64px;
    font-family: 'Bold', sans-serif;
    color: #222222;
    text-align: center;
}

.skills .buttons label{
    width: 319px;
    height: 73px;
    border-radius: 10px;
    background-color: #29D9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.skills .container .buttons .text .text-left P{
    font-family: 'SemiBold';
    font-size: 33px;
}

.skills .container .buttons .text{
    display: flex !important;
    justify-content: space-between;
}

.skills .container .buttons .text .text-left{
    width: 60%;
}

.skills .container .buttons .text .img{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}

.skills .container .buttons .text2 .img{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.portfolio{
    margin-top: 100px;
}

.portfolio .container .text h2{
    font-size: 64px;
    font-family: 'Bold', sans-serif;
}

.portfolio .container .text p{
    width: 70%;
    font-size: 32px;
    font-family: 'SemiBold', sans-serif;
}

.portfolio .container .cards{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.portfolio .container .cards .card{
    border: 0.25px solid #222222;
    padding: 10px;
}

.portfolio .container .cards .card h3{
    font-family: 'Bold';
    font-size: 30px;
    margin-top: 15px;
}

.portfolio .container .cards .card p{
    font-family: 'SemiBold';
    font-size: 20px;
}

.portfolio .container .cards .card button{
    background-color: #29D9FF;
    color: white;
    font-family: 'Bold', sans-serif;
    font-size: 18px;
    width: 60%;
}

.carrier{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #666666;
}

.carrier .container h2{
    font-size: 64px;
    font-family: 'Bold', sans-serif;
    color: white;
}

.carrier .container .text .textt{
    width: 50%;
}

.carrier .container .text .textt p{
    font-family: 'Regular';
    font-size: 36px;
    color: white;
}

.carrier .container .text .textt span{
    font-family: 'Bold', sans-serif;
}

.carrier .container .text{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrier .container .text img{
    width: 454px;
    height: 370.67px;
}

.contacts{
    margin-top: 100px;
}

.contacts h2{
    font-family: 'Bold', sans-serif;
    color: #222222;
    font-size: 64px;
}

.contacts .p-contact{
    font-family: 'SemiBold', sans-serif;
    color: #222222;
    font-size: 32px;
}

.contacts .container .icons{
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.contacts .container .icons .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts .container .icons .icon img{
    margin-right: 10px;
}

.contacts .container .icons .icon-tg img{
    margin-right: -10px;
}

.contacts .container .icons .icon .text .top{
    font-family: 'Bold', sans-serif;
    font-size: 32px;
    color: #222222;
    margin-bottom: 0;
}

.contacts .container .icons .icon .text .bottom{
    font-family: 'SemiBold', sans-serif;
    font-size: 20px;
    color: #222222;
}

.forma{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #666666;
}

.forma h2{
    font-family: "Bold", sans-serif;
    font-size: 64px;
    color: white;
}

.forma .p-form{
    width: 60%;
    font-family: "SemiBold", sans-serif;
    font-size: 32px;
    color: white;
}

.forma label{
    font-family: 'SemiBold', sans-serif;
    font-size: 24px;
    color: white;
}

.forma input{
    width: 600px;
    height: 60px;
}

form{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forma .container form button{
    width: 250px;
    height: 60.51px;
    background-color: #29D9FF;
    color: white;
    font-family: 'Bold', sans-serif;
    font-size: 24px;
    border: none;
    margin-top: 50px;
}

.forma .container form input{
    font-size: 22px;
    font-family: 'SemiBold', sans-serif;
    color: #222222;
}

footer{
    padding: 20px;
    background-color: #666666;
    border-top: 1px solid #222222;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container p{
    font-size: 20px !important;
    font-family: 'Bold', sans-serif !important;
    color: white !important;
    margin-bottom: 0;
}

footer .container a{
    
    color: white;
    font-family: 'Bold', sans-serif;
}



/* АДАПТИВ */

@media (max-width: 1500px) {
    .container {
        width: 1440px;
    }

    .navigation p{
        font-size: 25px;
    }

    .about .container .text p{
        font-size: 25px;
    }

    .skills .container .buttons .text .text-left P{
        font-size: 30px;
    }


}

@media (max-width: 1200px) {
    .container {
        width: 1140px;
    }

    .navigation p{
        font-size: 20px;
    }

    .about .container .text p{
        font-size: 21px;
    }

    .about .container .text h2, .skills h2, .portfolio .container .text h2, .carrier .container h2, .contacts h2, .forma h2{
        font-size: 55px;
    }

    .skills .container .buttons .text .text-left P{
        font-size: 26px;
    }

    .portfolio .container .text p, .contacts .p-contact, .forma .p-form, .forma label{
        font-size: 22px;
    }

    .portfolio .container .cards .card{
        width: 30%;
    }

    .portfolio .container .cards .card button{
        width: 70%;
    }

    .portfolio .container .cards .card p, .contacts .container .icons .icon .text .bottom{
        font-size: 18px;
    }

    .carrier .container .text .textt p{
        font-size: 25px;
    }

    .contacts .container .icons .icon .text .top{
        font-size: 25px;
    }

    footer .container p{
        font-size: 14px !important;
    }
}

@media (max-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 98%;
    }
}

@media (max-width: 576px) {
    .container {
        width: 98%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 98%;
    }
}